.container {
  padding: 5% 30%;
  padding-bottom: 0;
}

a#fahrenheit-conv,
a#celsius-conv {
  text-decoration: none;
}

.app-content {
  margin: 0 10%;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.today-icon-card {
  margin-top: 10px;
  justify-content: center;
}

.today-icon {
  padding: 20px 20px;
  font-size: small;
}

.row-today,
.row-forecast {
  margin-bottom: 20px;
}

.row .row-location {
  margin-bottom: 10px;
}

.col-md-4.weather-details {
  margin-top: 10px;
  max-width: fit-content;
}

.col-md-4.icon-details {
  max-width: fit-content;
}

.weather-details .card {
  padding: 0 30px 0 30px;
}

#city-input {
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.row-forecast .row {
  display: inline;

  margin: 5px;
  font-size: medium;
}

.row.temp span {
  padding: 5px;
}

.row-forecast .col {
  margin-top: 10px;
}

.card.card-temp {
  display: inline;
}

.today-icon-card {
  max-width: fit-content;
  font-size: small;
}

.card.card-temp .active {
  color: black;
  cursor: default;
  font-weight: bold;
}

.signature {
  color: gray;
  font-size: xx-small;
  margin-top: 10px;
}

.source-code {
  text-decoration: none;
  color: goldenrod;
}

.forecast-max-temp {
  font-weight: bold;
  opacity: 0.7;
  padding: 0;
}
